.animation {
    // fadeInLeft & fadeInRight
    &.fadeInLeft,
    .fadeInLeft {
        transition: 1s;
        opacity: 0;
        transform: translateX(-80%);
    }
    &.fadeInRight,
    .fadeInRight {
        transition: 1s;
        opacity: 0;
        transform: translateX(80%);
    }
    &.fadeInLeft, &.fadeInRight {
        &.animate {
            opacity: 1;
            transform: translateX(0%);
        }
    }
    &.animate {
        .fadeInLeft, .fadeInRight {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    // zoomIn
    &.zoomIn,
    .zoomIn {
        transition: 1.5s;
        opacity: 0;
        transform: scale(.7);
    }
    &.animate {
        .zoomIn, .zoomIn {
            opacity: 1;
            transform: scale(1);
        }
    }


    // fadeInUp
    &.fadeInUp,
    .fadeInUp {
        transition: 1s;
        opacity: 0;
        transform: translateY(80%);
    }
    &.animate {
        .fadeInUp, .fadeInUp {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    
}